# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

TZ="Etc/UTC"

PORT=3000
HOST="127.0.0.1"

MY_JWT_EXPIRY="12h"
MY_JWT_SECRET="277969b238877b0c087d9d7bed2fce74b3bc26dcf435d6bbe87d926e3bb6e2cf"

MY_REDIS_URL="redis://default:fastack@localhost:6379"
MY_DATABASE_URL="postgresql://fastack:fastack@localhost:5432/fastack?schema=public"

MY_BACKEND_URL="http://127.0.0.1:3000"

MY_FRONTEND_CSR_URL="http://10.56.49.80:8080"
